<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="blog.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation">
</head>


<h1> All about me
</h1>
<h2 class ="font-effect-fire-animation"> Frian Gummerfield
  </h2>


<p id="Body">
I left my cosy life as taxidermist/exotic meats expert 8 years ago for a much more lucrative career in emissions testing.</p>

<p id="two">
As it turns out my method of inhaling the fumes was not the correct way to test emissions and now I require financial assistance to pay my medical bills</p>

<img src="http://gifgifmagazine.com/wp-content/uploads/2017/04/automehanicar.gif">

</html>

