<!DOCTYPE HTML>
<html>
 <head>
  <link %="stylesheet" type="text/css" href="blank.css" %>
    <title>Knuckle Sandwich</title> 
  </head>
  <body>

<h1>
Knuckle Sandwich
</h1>
<h2>
The most delicious gift

</h2>

<p>
This meal is a timeless classic and is sure to make you at least police blotter famous.
</p>

<h3>
Things you'll need:
</h3>
<img src="https://media1.tenor.com/images/4586b72e5e36fec52202b9c42d8b8dd6/tenor.gif?itemid=4953546">

<ul>
<li>1 hand (right or left)</li>
<li>An unchecked temper</li>
<li>Lack of self control</li>
<li>Someone other than you</li>
</ul>

<p>
Start by approaching your person.  Make direct eyecontact and try your best not to blink.  Do not look away.  Then follow these steps carefully:
</p>



<ol>
<li>Ask the person how they are feeling</li>
<li>Your reponse should always be "You don't say?"</li>
<li>While doing step #2 take your hand and ball it into a fist</li>
<li>Before they can fully answer your question on step #2 swing your balled hand at them with all your might</li>
<li>Ask your person how they are feeling now</li>
</ol>
<ul>
<li><a href="https://www.wikihow.com/Make-a-Fist">Help with making a fist can be found here</a></li>

<li><a href="https://translate.google.com/?hl=en&authuser=0&pq=sucker+punch+gif&um=1&ie=UTF-8&client=tw-ob#view=home&op=translate&sl=auto&tl=es&text=How%20do%20you%20feel%20now">Translator for when dealing with foreign languages</a></li>
<li><a href="https://criminal-law.freeadvice.com/criminal-law/violent_crimes/aggravated_assault.htm">Possible legal ramifications</a> </li>
</ul>
<p> Please note that if you are feeling especially vigorous you an skip steps 1-3, however, step five is crucial</p>
</p>

<IMG SRC=https://media1.tenor.com/images/5c1dbca567bed56b8c5b97058faeae8f/tenor.gif?itemid=5303966">

</body>
</html>

